html{
  min-height: 100%;
  overflow-y: scroll;
}
body {

  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;

}

h1 {
  margin:50px auto 0 auto;
  font-family: 'Rock Salt', cursive;
  font-size: 4.5rem;
  color: #851d41;
}
h2 {
  color: #851d41;
  font-family: 'Capriola', sans-serif;
  font-size: 3rem;
  font-weight: normal;
}
h3 {
  color: #E9645D;
  font-family: 'Spinnaker', sans-serif;
  font-size: 2rem;
  font-weight: normal;
}
p {
  line-height: 2;
}
.img-circle{
  border-radius: 50%;
}
.top-container {
  background-color: #f5c3bc;
  position: relative;
  padding-top: 50px;
}
.middle-container {
  margin: 50px 0;
  position: relative;
  padding-top: 50px;
}
.bottom-container {
  margin-bottom: : 0;
  position: relative;
  padding-top: 100px;
  background-color: #F27C6E;

}
.img-fuji{
  margin-bottom: : 0;
}
.top-cloud{
  position: absolute;
  right: 50px;
  top: 1px;

}
.bottom-cloud{
  position: absolute;
  left: 50px

}
